
body {
    background-color:  rgba(163, 214, 255, 0.63);
    font-size: 35px;
    text-align: center;
    margin: 0px;
    padding: 0px;
  }

  .logo {
  font-family: "Courier New", Courier, monospace;
  font-size: 50px;
  letter-spacing: 2px;
  color: #000000;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-variant: small-caps;
  text-transform: none;
  }
  .weather-results {
    margin: 10px;
    padding: 10px;
    width: 100%;
    background: rgba(176, 197, 235, 0.7);
    border-radius: 5px;
  }
  nav {
      margin: 20px 0;
  }
  
  button.menu-button {
  padding: 5px;
  background: #fff;
  border: 0px;
  border-radius: 5px;
  box-shadow: 0 0 10px black;
  font-family: "Courier New", Courier, monospace;
  }
  
  button.selected {
      background: #ccc;
  }
  .social-links {
      margin: 0 0;
      list-style: none;
      font-size: 1.5em;
      display: flex;
      justify-content: center;
      padding-left: 0px;
      padding-right: 0px; 
  }
  
  .social-links li {
      width: 50%; 
      background-color: #00ffaa88;;
      text-align: center;
  }
  .social-links a {
      color: white;
  }
  footer {
    background-color: white;
    height: 110px;
    padding: 20px;
    margin-top: 250px;
    box-shadow: 0 0 10px black;
}
form input {
    height: 50px;
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    border: 0px;
}

form button {
    height: 50px;
    width: 100px;
    background: #eee;
    border: 0px;
    border-radius: 5px;
    margin-left: 10px;
    box-shadow: 0 0 5px black;
    font-size: 20px;
}
